.newsletter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #657692;
    color: white;
    padding: 50px 100px;
    font-weight: 200;
}

.left h1{
    font-size: 2.5rem;
}

.left p{
    font-size: 0.9rem;
    padding-right: 100px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right input{
    background: #657692;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: small;
    padding: 10px;
    margin-right: 30px;
    width: 400px;
}
.right button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #012f46;
    font-size: small;
}

.right input::placeholder{
    color: #fff;
}
