.navbar{
    display: flex;
    justify-content: flex-end;
    color: #012f46;
    border-bottom: 2px solid #b6b6b6;
    margin: 0 100px;
}

.navbar ul{
    display: flex;
}

.navbar li{
    list-style: none;
    margin-left: 50px;
    padding: 15px 0;
    font-size: 0.9rem;
}

.socials{
    padding: 15px 0;
    margin-left: 50px;
}

.socials i{
    margin-left: 15px;
}