.footer{
    background: #8796ad;
    color: white;
    padding: 40px 100px;
}

.footerNav{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding: 15px 0;
    justify-content: flex-start;
}

.socialLinks{
    font-size: small;
}

.socialLinks p{
    color: #fff;
}

.navLinks{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: small;
}

.navLinks h4, .quickLinks h4, .workingHours h4{
    font-size: 1.1rem;
}

.navLinks ul li{
    list-style: none;
    padding: 2px;
}

.quickLinks{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: small;
}

.quickLinks ul li{
    list-style: none;
    padding: 2px;
}


.workingHours{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: small;
}

.workingHours p{
    margin-bottom: 20px;
    color: #fff;
}

.workingHours button{
    background: #012f46;
    color: #fff;
    border: none;
    padding: 15px 30px;
    width: fit-content;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 10px;
}

.copyWrite{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-size: small;
}
.copyWrite p{
    color: #fff;
}